{%extends 'base.html'%}

{% block content %}
{{block.super}}

<div class="container my-1">
   <div class="row"> 
          <!-- flash messages -->
          {% if messages %}
          <div class="col-12">
           
           {% for msg in messages %}
             <div class="alert alert-success alert-dismissable">
               <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
               {{msg.message}}
             </div>
           {% endfor %}
         
          </div>
           {% endif %}     
        <!-- results -->
        <div class="card my-3" style="width: 100%;">
            <div class="card-header">
                <div >
                       <div class="float-left">
                              <img src="{% firstof image.profile.profile_photo.url  'https://res.cloudinary.com/dtw9t2dom/image/upload/v1621726020/akfqmmsh2bcebfxmkizd.png' %}" alt="{{image.profile.user.username}}" class="img-fluid rounded-circle float-left" style="width: 50px;">
                              <div class="ml-2 float-left ln-3">
                                  {{image.profile.user.username}}
                              </div>
                       </div>
                       <div class="float-right inline-block ln-3">
                           <a href="{% url 'like' image.id%}" class="links">
                            like<i class="fas fa-heart ml-2"></i>
                           </a>

                           <a href="{% url 'comment' image.id%}" class="links ml-5">
                            comment<i class="fas fa-comment ml-2"></i>
                           </a>
                       </div>
                </div>
            </div>
            <a href="#" target="_blank">
                <img class="imge img-fluid" src="{{image.image.url}}" alt="lorem">
            </a>
            <div class="card-body">
                <p>
                    Likes: <strong>
                        {{ image.likes }}
                    </strong>
                </p>
                <p>
                    <strong>
                         {{image.name | title}}
                    </strong>
                </p>
                <p class="text-muted">
                        {{ image.caption }}
                </p>
                <p>
                    <a href="#" class="links btn btn-sm btn-outline-info"  data-toggle="modal" data-target="#modal-{{image.id}}">
                        view comments<i class="fas fa-comments ml-2"></i>
                       </a>
                </p>
            </div>
            {% if user.is_authenticated %}
                {% if user == image.profile.user %}
                <div class="card-footer">
                    <div class="row">
                        <div class="col-6">
                            <div class="text-center">
                                <a href="#">
                                    <span class="text-center">
                                        
                                        <div >
                                          Edit
                                            <i class="fas fa-edit ml-1"></i>
                                        </div>
                                        
                                    </span>
                                </a>
                            </div>
                        </div>
                   
                        <div class="col-4 text-center">
                            <a href="#"   onclick="return confirm('Confirm Delete')">
                                <span class="text-center">
                                    <div>
                                         Delete
                                        <i class="fas fa-trash-alt ml-1"></i>
                                    </div> 
                                    
                                    
                                </span>
                            </a>
                            
                        </div>
                    </div>
                </div>
                {%endif%}
            {%endif%}
    </div>
    {% include '_comment_modal.html' %}
      
   </div>
</div>
{% endblock %}
