{% extends 'base.html' %}
{% load bootstrap4 %} {% load static %}

{% block content %}
<div class="container my-2">
  <div class="text-center">
    <h4>Upload image</h4>
    <hr>
  </div>
         <!-- flash msgs -->
         {% if messages %}
         <div class="col-12">
          
          {% for msg in messages %}
            <div class="alert alert-danger alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              {{msg.message}}
            </div>
          {% endfor %}
        
         </div>
          {% endif %}
   <form   method="post" enctype="multipart/form-data">
   {%csrf_token%}

   {% bootstrap_form form%}
   <input type="submit" class="btn btn-success btn-sm" value="Upload">
 </form>
</div>
{% endblock %}