{%extends 'base.html'%}

{% block content %}
{{block.super}}

<div class="container my-1">
 <div class="row">
     <div class="col-12">
        <div class="card my-3" style="width: 100%;">
            <div class="card-header">
               Users
               
            </div>
            <div class="card-body">
                   <ul class="list-group">
                       {% for user in users %}
                       <li class="list-group-item">
                                {{user.username}}  <a href="#" class="ml-3 follow-link">follow</a>
                       </li>
                       {%empty %}
                       <li class="list-group-item">
                           No records
                       </li>
                       {%endfor%}
                   </ul>
            </div>
      
        </div>
     </div>
 </div>
</div>
{% endblock %}
